@page "/"
@implements IBrowserViewportObserver
@implements IAsyncDisposable

<PageTitle>FLL Scheduler</PageTitle>

<MudLayout>
    <MudMainContent Class="pt-0">
        <MudAppBar Color="Color.Primary" Fixed="true" Dense="true">
            @if (!IsSmallScreen)
            {
                <MudText Typo="Typo.h4">FLL Scheduler</MudText>
                <MudSpacer />
            }

            @if (!IsSmallScreen)
            {
                <MudSpacer />
                <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Filled.Help" Color="Color.Success" @onclick="OpenWelcomeDialog">Welcome</MudButton>
            }
        </MudAppBar>

        <div style="height: 50px">
        </div>
    </MudMainContent>
</MudLayout>