@page "/"
@implements IBrowserViewportObserver
@implements IAsyncDisposable

<PageTitle>FLL Scheduler</PageTitle>

<MudLayout>
    <MudMainContent Class="pt-0">
        <MudAppBar Color="Color.Primary" Fixed="true" Dense="true">
            @if (!IsSmallScreen)
            {
                <MudText Typo="Typo.h4">FLL Scheduler</MudText>
                <MudSpacer />
            }

            @if (!IsSmallScreen)
            {
                <MudSpacer />
                <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Filled.Help" Color="Color.Success" @onclick="OpenWelcomeDialog">Welcome</MudButton>
            }
        </MudAppBar>

        <div class="TopSpacer"></div>

        <MudGrid>
            <MudItem xs="4">
                <MudAutocomplete Value="Profile" ValueChanged="DoProfileSelected" T="RequestModel" Strict="false"
                                 SearchFunc="IdentifyProfiles" ToStringFunc="@(e => e==null ? null : e.Name)"
                                 Variant="Variant.Outlined"
                                 Label="Common Tournament Profiles"
                                 Dense="true"
                                 Placeholder="Select a Tournament profile"
                                 HelperText="Select a Tournament profile"
                                 HelperTextOnFocus="true"
                                 Clearable="false" />

                <MudText Typo="Typo.h6">Event Configuration</MudText>
                <MudStack Row="true">
                    <MudTimePicker Label="Registration" AmPm="true" @bind-Time="RegistrationTime" Variant="Variant.Outlined" />
                    <MudTimePicker Label="Opening Ceremony" AmPm="true" @bind-Time="OpeningCeremonyTime" Variant="Variant.Outlined" />
                    <MudTimePicker Label="Coaches Meeting" AmPm="true" @bind-Time="CoachesMeetingTime" Variant="Variant.Outlined" />
                </MudStack>
                <MudStack Row="true">
                    <MudTimePicker Label="Lunch Start" AmPm="true" @bind-Time="LunchStartTime" Variant="Variant.Outlined" />
                    <MudTimePicker Label="Lunch End" AmPm="true" @bind-Time="LunchEndTime" Variant="Variant.Outlined" />
                </MudStack>

                <MudText Typo="Typo.h6">Judging Configuration</MudText>
                <MudTextField @bind-Value="PodNames" T="string" Label="Judging Pod Names" HelperText="Juding Pod names, delimited by comma" Variant="Variant.Outlined" />
                <MudStack Row="true">
                    <MudTimePicker @bind-Time="JudgingStartTime" Label="Judging Start" AmPm="true" Variant="Variant.Outlined" />
                    <MudNumericField T="int" @bind-Value="CycleTimeMinutes" Label="Judging Duration" HelperText="Judging session duration in minutes" Variant="Variant.Outlined" Step="1" />
                    <MudNumericField T="int" @bind-Value="JudgingBufferMinutes" Label="Judging Buffer" HelperText="Minimum team time in minutes required before and after a judging session" Variant="Variant.Outlined" Step="1" />
                </MudStack>

                <MudText Typo="Typo.h6">Robot Game Configuration</MudText>
                <MudTextField @bind-Value="TableNames" T="string" Label="Robot Game Table Names" HelperText="Table names, delimited by comma" Variant="Variant.Outlined" />
                <MudStack Row="true">
                    <MudTimePicker Label="Robot Games Start" AmPm="true" @bind-Time="RobotGamesStartTime" Variant="Variant.Outlined" />
                    <MudNumericField T="int" @bind-Value="RobotGameCycleTimeMinutes" Label="Robot Game Cycle Duration" HelperText="Time in minutes between robot game matches" Variant="Variant.Outlined" Step="1" />
                    <MudNumericField T="int" @bind-Value="RobotGameBufferMinutes" Label="Robot Game Buffer" HelperText="Minimum team time in minutes required before and after a robot game match" Variant="Variant.Outlined" Step="1" />
                </MudStack>
                <MudStack Row="true">
                    <MudTextField @bind-Value="Breaks" T="string" Label="Break times" HelperText="Times for breaks for robot games, comma delimeted" Variant="Variant.Outlined" />
                    <MudNumericField T="int" @bind-Value="BreakDurationMinutes" Label="Break duration" HelperText="Break duration in minutes" Variant="Variant.Outlined" Step="1" />
                </MudStack>

                <MudText Typo="Typo.h6">Teams</MudText>
                <MudTextField @bind-Value="Teams" T="string" Label="Team Numbers and Names" HelperText="Team number and names, delimited by spaces, tabs, or commas, one team per line" Variant="Variant.Outlined" Lines="24" AutoGrow="true" />
            </MudItem>
            <MudItem xs="8">
                <MudStack Row="true">
                    <MudButton OnClick="DoUpdateProfile" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Refresh" Color="Color.Primary">Run</MudButton>
                    <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Download" Color="Color.Primary">Export</MudButton>
                </MudStack>
                <MudDataGrid @ref="dataGrid" T="TeamSchedule" ServerData="ServerReload" Dense="true" Filterable="false" SortMode="SortMode.Multiple">
                    <ColGroup>
                        <col style="width: 5em" />
                        <col style="width: 20em" />
                        <col style="width: 8em" />
                        <col style="width: 8em" />
                        <col style="width: 8em" />
                        <col style="width: 8em" />
                        <col style="width: 8em" />
                        <col style="width: 8em" />
                        <col style="width: 8em" />
                        <col style="width: 8em" />
                    </ColGroup>
                    <Columns>
                        <PropertyColumn Property="x => x.Number" Title="Team" T="TeamSchedule" TProperty="string" />
                        <PropertyColumn Property="x => x.Name" Title="Name" T="TeamSchedule" TProperty="string" />
                        <PropertyColumn Property="x => x.JudgingStart" Title="Judging" T="TeamSchedule" TProperty="TimeOnly" Format="hh:mm tt" />
                        <PropertyColumn Property="x => x.JudgingPod" Title="Pod" T="TeamSchedule" TProperty="string" />
                        <PropertyColumn Property="x => x.PracticeStart" Title="Practice" T="TeamSchedule" TProperty="TimeOnly" Format="hh:mm tt" />
                        <PropertyColumn Property="x => x.PracticeTable" Title="Practice Table" T="TeamSchedule" TProperty="string" />
                        <PropertyColumn Property="x => x.Match1Start" Title="Match 1" T="TeamSchedule" TProperty="TimeOnly" Format="hh:mm tt" />
                        <PropertyColumn Property="x => x.Match1Table" Title="Match 1 Table" T="TeamSchedule" TProperty="string" />
                        <PropertyColumn Property="x => x.Match2Start" Title="Match 2" T="TeamSchedule" TProperty="TimeOnly" Format="hh:mm tt" />
                        <PropertyColumn Property="x => x.Match2Table" Title="Match 2 Table" T="TeamSchedule" TProperty="string" />
                        <PropertyColumn Property="x => x.Match3Start" Title="Match 3" T="TeamSchedule" TProperty="TimeOnly" Format="hh:mm tt" />
                        <PropertyColumn Property="x => x.Match3Table" Title="Match 3 Table" T="TeamSchedule" TProperty="string" />
                    </Columns>
                </MudDataGrid>

                @GridsToShow
            </MudItem>
        </MudGrid>
    </MudMainContent>
</MudLayout>