@page "/"
@implements IBrowserViewportObserver
@implements IAsyncDisposable

<PageTitle>FLL Scheduler</PageTitle>

<MudLayout>
    <MudMainContent Class="pt-0">
        <MudAppBar Color="Color.Primary" Fixed="true" Dense="true">
            @if (!IsSmallScreen)
            {
                <MudText Typo="Typo.h4">FLL Tournament Scheduler</MudText>
                <MudSpacer />
            }

            @if (!IsSmallScreen)
            {
                <MudSpacer />
                <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Filled.Help" Color="Color.Success" @onclick="OpenWelcomeDialog">Welcome</MudButton>
            }
        </MudAppBar>

        <div class="TopSpacer"></div>

        <MudGrid>
            <MudItem xs="4">
                <MudAutocomplete Value="Profile" ValueChanged="DoProfileSelected" T="RequestModel" Strict="false"
                    SearchFunc="IdentifyProfiles" ToStringFunc="@(e => e==null ? null : e.Name)"
                    Variant="Variant.Outlined"
                    Label="Start with a pre-set tournament profile" InputMode="InputMode.text" 
                    Dense="true"
                    Placeholder="Select a tournament profile"
                    HelperText="Select a tournament profile"
                    HelperTextOnFocus="false"
                    Clearable="false" />

                <MudText Typo="Typo.h6">Event Configuration</MudText>
                <MudStack Row="true">
                    <MudTimePicker Label="Registration" AmPm="true" @bind-Time="RegistrationTime" Variant="Variant.Outlined" HelperText="Choose the time when registrations begins" HelperTextOnFocus="false" />
                    <MudTimePicker Label="Coaches Meeting" AmPm="true" @bind-Time="CoachesMeetingTime" Variant="Variant.Outlined" HelperText="Choose the time when the coaching meeting starts" HelperTextOnFocus="false" />
                    <MudTimePicker Label="Opening Ceremony" AmPm="true" @bind-Time="OpeningCeremonyTime" Variant="Variant.Outlined" HelperText="Choose the time when opening ceremony begin" HelperTextOnFocus="false" />
                </MudStack>
                <MudStack Row="true">
                    <MudTimePicker Label="Lunch Start" AmPm="true" @bind-Time="LunchStartTime" Variant="Variant.Outlined" HelperText="Choose the time when lunch starts" HelperTextOnFocus="false" />
                    <MudTimePicker Label="Lunch End" AmPm="true" @bind-Time="LunchEndTime" Variant="Variant.Outlined" HelperText="Choose the time when lunch ends" HelperTextOnFocus="false" />
                </MudStack>

                <MudText Typo="Typo.h6">Judging Configuration</MudText>
                <MudTextField @bind-Value="PodNames" T="string" Label="Judging Pod Names" HelperText="Juding Pod names, delimited by comma" Variant="Variant.Outlined" />
                <MudStack Row="true">
                    <MudTimePicker @bind-Time="JudgingStartTime" Label="Judging Start" AmPm="true" Variant="Variant.Outlined" HelperText="Choose the time when judging sessions begin" HelperTextOnFocus="false" />
                    <MudNumericField T="int" @bind-Value="CycleTimeMinutes" Label="Judging Duration" HelperText="Judging session duration in minutes" Variant="Variant.Outlined" Step="1" />
                    <MudNumericField T="int" @bind-Value="JudgingBufferMinutes" Label="Judging Buffer" HelperText="Minimum team time in minutes required before and after a judging session" Variant="Variant.Outlined" Step="1" />
                </MudStack>

                <MudText Typo="Typo.h6">Robot Game Configuration</MudText>
                <MudTextField @bind-Value="TableNames" T="string" Label="Robot Game Table Names" HelperText="Table names, delimited by comma" Variant="Variant.Outlined" />
                <MudStack Row="true">
                    <MudTimePicker Label="Robot Games Start" AmPm="true" @bind-Time="RobotGamesStartTime" Variant="Variant.Outlined" HelperText="Choose the time when robot games begin" HelperTextOnFocus="false" />
                    <MudNumericField T="int" @bind-Value="RobotGameCycleTimeMinutes" Label="Robot Game Cycle Duration" HelperText="Time in minutes for each inspection, match, scoring, and reset" Variant="Variant.Outlined" Step="1" />
                    <MudNumericField T="int" @bind-Value="RobotGameBufferMinutes" Label="Robot Game Buffer" HelperText="Minimum team time in minutes required before and after a robot game match" Variant="Variant.Outlined" Step="1" />
                </MudStack>
                <MudStack Row="true">
                    <MudTextField @bind-Value="Breaks" T="string" Label="Break times" HelperText="Times for breaks for robot games, comma delimited" Variant="Variant.Outlined" />
                    <MudNumericField T="int" @bind-Value="BreakDurationMinutes" Label="Break duration" HelperText="Break duration in minutes" Variant="Variant.Outlined" Step="1" />
                </MudStack>

                <MudText Typo="Typo.h6">Teams</MudText>
                <MudTextField @bind-Value="Teams" T="string" Label="Team Numbers and Names" HelperText="Team number and names, delimited by spaces, tabs, or commas, one team per line" Variant="Variant.Outlined" Lines="12" AutoGrow="true" />
            </MudItem>
            <MudItem xs="8">
                <MudStack Row="true">
                    <MudButton OnClick="DoUpdateProfile" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Refresh" Color="Color.Primary">Generate Schedules</MudButton>
                    <MudButton OnClick="DoExport" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Download" Color="Color.Primary">Export</MudButton>
                </MudStack>
                @GridsToShow
            </MudItem>
        </MudGrid>
    </MudMainContent>
</MudLayout>