<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h4" Color="Color.Warning">FLL Scheduler</MudText>
    </TitleContent>
    <DialogContent>
        <MudText Typo="Typo.body1" GutterBottom="true">
            My regional Program Delivery Partner expressed challenges to generate FLL event schedules with agility to control break times, cycle times, etc.
            This app is a solution to enable generation of a useable event schedule.
        </MudText>
        <MudText Typo="Typo.body1" GutterBottom="true">
            To use the app, follow these steps:
            <ol class="indented">
                <li>Launch the application in a modern browser, such as Chrome or Edge (the browser needs to support WebAssembly--a capability to run web apps).</li>
            </ol>
        </MudText>
        <MudText Typo="Typo.body1" GutterBottom="true">
            This FLL Scheduler app was coded one weekend in October 2024 by Brady P. Merkel, and updated for the SUBMERGED season.
            Please send Brady a note if you have feedback at brady@botnefl.org.
            Brady is currently Head Referee of the Northeast Florida <i>FIRST</i> LEGO League Region; where he
            also served in other <i>FIRST</i> LEGO League capacities since 2013, including Coach, Tournament Director,
            Event Coordinator, Robot Design Judge, and Judge Advisor.
        </MudText>
        <MudText Typo="Typo.body1" GutterBottom="true">
            Version @GetVersion()
        </MudText>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Warning" OnClick="Submit" Variant="Variant.Filled">Ok</MudButton>
    </DialogActions>
</MudDialog>