.highlighted {
    background-color: transparent;
    font-weight: bold;
    color: var(--mud-palette-warning) !important;
}

.bold {
    font-weight: bold;
    font-size: 150%;
}

.normal {
    font-weight: normal;
}

.TopSpacer {
    height: 50px;
}

.queuer-table, .game-table, .judging-table, game-table-table {
    border: 1px solid #999;
}
    .queuer-table th, .game-table th, .judging-table th, .game-table-table th {
        padding-left: 2em;
        padding-right: 2em;
    }
    .queuer-table td, .game-table td, .judging-table td, .game-table-table td {
        padding-left: 2em;
        padding-right: 2em;
    }
    .queuer-table tbody tr:nth-child(odd), .game-table tbody tr:nth-child(odd), .judging-table tbody tr:nth-child(odd), .game-table-table tbody tr:nth-child(odd) {
        background-color: #008;
    }
