.highlighted {
    background-color: transparent;
    font-weight: bold;
    color: var(--mud-palette-warning) !important;
}

.bold {
    font-weight: bold;
    font-size: 150%;
}

.normal {
    font-weight: normal;
}

.TopSpacer {
    height: 50px;
}

.align-right input {    /* align the numeric components so that the number is on the right */
    text-align: right;
}

.markdown-table {
    border: 1px solid #777;
    margin-left: 2em;
    font-family: Roboto, Helvetica, Arial, "sans-serif"
}
    .markdown-table th {
        padding-left: 1em;
        padding-right: 1em;
        color: #fff;
        background-color: #006;
        border-bottom: 2px solid #002;
        white-space: nowrap;
    }
    .markdown-table td {
        color: #fff;
        padding-left: 1em;
        padding-right: 1em;
        white-space: nowrap;
    }
    .markdown-table tbody tr:nth-child(odd) {
        background-color: #004;
    }
